html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

header {
  font-size: 1rem;
  color: white;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem;
  padding-left: 2rem;
  margin-top: 1rem;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav ul li {
  display: inline-flex;
  margin-right: 2rem;
}

nav .mobile_nav {
  display: none;
}

.banner {
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.headline {
  margin-right: -2rem;
}

.headline h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  background-color: white;
  margin-top: 10rem;
  color: black;
}


.icons {
  display: flex;
  text-align: center;
  margin: 3rem 0;
  width: 5rem;
  margin-left: 25%;
}

.icon {
  padding-right: 6rem;
  height: 8rem;
  justify-content: center;
}

.icon_img {
  display: inline-flex;
  justify-content: center;
  width: 3.5rem;
}

.ruler .icon_img {
  padding-bottom: 2.75rem;
}

.truck .icon_img {
  padding-bottom: 2.4rem;
}

.infos {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.info_name {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  display: flex;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

footer {
  background-color: azure;
  padding: 4rem;
  margin-top: 5rem;
}

footer .container {
  display: flex;
  align-items: center;
}

footer img {
  margin-right: 1rem;
  height: 1.5rem;
}

/* responsive design */
/* tablets */
@media only screen and (max-width: 100%) {
  nav .container {
    display: none;
  }

  .menu-container {
    position: fixed;
  }

  .banner {
    height: 22rem;
  }

  .headline {
  margin-right: 2rem;
  }

  .headline h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
  }
}

/* mobiles */
@media only screen and (max-width: 100%) {
  nav .mobile_nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .menu-container {
    position: fixed;
  }

  .menu-container span {
    display: none;
  }

  .headline {
    background-position: 20%;
  }

  .headline h1 {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 9rem;
    align-items: center;
  }

  .icons {
    margin: 3.77rem;
    flex-wrap: wrap;
    font-size: 0.77rem;
  }

  .icon-name {
    margin-bottom: 1.54rem;
  }

  .info_name {
    margin-bottom: 1rem;
  }

  .info_name span {
    padding-bottom: 4rem;
    font-size: 0.77rem;
  }

  footer {
    text-align: center;
  }

  footer span {
    display: none;
  }
}
